---
   layout: blank
---

@import 'bootstrap';

#news-container {
    img{
        max-width: 100%;
    }
}

// Card image caps
.card-img-top {
  height: 20vw;
  object-fit: cover;
  max-height: 250px;
}