---
layout: default
---
<hr>
<div class="container-xxl">
    <h1 class="mb-5">Article Preview</h1>
</div>
<div class="container-xxl py-4">
    <div id="news-container" class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-9 col-xxl-8">
            <h1>{{ page.title }}</h1>
            <div class="row justify-content-between">
                {% if page.author %}
                <div class="col-auto">
                    <span class="fs-4 text-muted">{{ page.author}}</span>
                </div>
                {% endif %}
                <div class="col-auto">
                    <span class="fs-4 text-muted">{{ page.date | date: "%B %e, %Y"}}</span>
                </div>
            </div>

            {% if page.link %}
            <a href="{{ page.link }}">Associated Link</a>
            {% endif %}
            <div class="mt-4 fs-5">{{ content }}</div>
        </div>
    </div>`
</div>
<hr>
<div class="container-xxl">
    <h1 class="mb-5">Card Preview</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xxl-4 py-4">
            <a href="{{ page.url | relative_url }}">
                <div class="card h-100">
                    {% if page.image.path %}
                    <img alt="{{ page.image.alt }}" src="{{ page.image.path }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body border-top">
                        <h3><a class="text-decoration-none" href="{{ page.url | relative_url }}">{{ page.title }}</a></h3>
                        <div>
                            <span class="text-muted">{{ page.date | date: "%B %e, %Y"}}</span>
                        </div>
                        <hr/>
                        <p>
                            {{ page.excerpt }}
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="container-xxl">
    <h1 class="mb-5">Banner Preview</h1>
</div>
    <img style="width: 100%" src="{{ page.banner_src }}" />
<hr>
